@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}

img {
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

button {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cont {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.4rem;
  overflow: hidden;
}

.link-hover {
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
